<!-- Contenedor Principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Contenedor Secundario -->
    <section class="container">
        <!-- Texto Principal -->
        <h1 class="title">{{"Sesiones fotograficas" | uppercase}}</h1>
        <!-- Articulo de Sesiones -->
        <article class="sesiones__container">
            <!-- Sesion de Estudio -->
            <section class="sesion1 section">
                <!-- Subtitulo -->
                <h2 class="subtitle">SESIONES DE ESTUDIO</h2>
                <!-- Vinculo a Sesiones de Estudio -->
                <a routerLink="/sesiones_estudio">
                    <img src="../assets/images/estudio/sesion6/img2.jpeg" alt="Sesion 1" class="img">
                </a>
                <!-- <div class="sesion1Img">
                    <button class="btn-ver in" routerLink="/sesiones_estudio">VER SESIONES</button>
                </div> -->
            </section>
            <!-- Sesion de Estudio -->
            <section class="sesion2 section">
                <!-- Subtitulo -->
                <h2 class="subtitle">SESIONES DE EXTERIOR</h2>
                <!-- Vinculo a Sesiones de Exterior -->
                <a routerLink="/sesiones_exterior">
                    <img src="../assets/images/exterior/varias/img7.jpeg" alt="Sesion 1" class="img">
                </a>
                <!-- <div class="sesion2Img">
                    <button class="btn-ver ex" routerLink="/sesiones_exterior">VER SESIONES</button>
                </div> -->
                
            </section>
        </article>
    </section>
</main>