<!-- Contenedor Principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Contenedo secundario -->


    <ng-container *ngIf="!phone">
        <app-barra-redes></app-barra-redes>
      </ng-container>
    
      <ng-container *ngIf="phone">
        <app-barra-redes-phone></app-barra-redes-phone>
      </ng-container>

    <section class="container">
        <!-- Articulo de Encabezados -->
        <article class="encabezado top">
            <div class="titulos_encabezado">
                <h1 class="title">THE CANE PHOTOGRAPHY</h1>
                <p class="texto_encabezado">Somos una empresa enfocada a la creatividad y la eficiencia</p>
            </div>
        <div class="imagen_encabezado">
            <div class="imagen">
                <img src="../assets/images/personal/img1.jpeg" alt="Banner" class="img img_encabezado1">
            </div>
            <div class="imagen imagen2">
                <img src="../assets/images/personal/img2.jpeg" alt="Banner" class="img img_encabezado2">
            </div>
        </div>
        </article>
        <!-- Sesion de experiencia laboral -->
        <section class="experiencia_container top">
            <!-- Articulo de experiencia -->
            <article class="experiencia">
                <h2 class="subtitle">Somos expertos en contenido audiovisual</h2>
                <ul class="ulList ulexperiencia">
                    <li class="list">Fotografías</li>
                    <li class="list">Videografia</li>
                    <li class="list">Edición</li>
                </ul>
            </article>
               <!-- Articulo de experiecia en tecnologias -->
            <article class="tecnologias top">
                <h2 class="subtitle">Trabajamos con las últimas tecnologías audiovisuales y cinematográficas</h2>
                <ul class="ulList ultecnologias">
                    <li class="list">Sony</li>
                    <li class="list">Canon</li>
                    <li class="list">Nikon</li>
                    <li class="list">Blackmagic</li>
                    <li class="list">Photoshop</li>
                    <li class="list">Ilustrator</li>
                </ul>
            </article>
            <!-- Articulo de servicios para ofrecer -->
            <article class="servicios top">
                <h2 class="subtitle subtitle_servicios">Servicios</h2>
                <article class="servicios_container">
                    <!-- Servicio de fotografias -->
                    <article class="servicios_fotografias">
                        <h3 class="sub_subtitle">Fotografias</h3>
                        <ul class="ulList ulservicios">
                            <li class="list listservicios">Fotografia Comercial</li>
                            <li class="list listservicios">Retrato para toda ocacion</li>
                            <li class="list listservicios">Fotografia Social</li>
                            <li class="list listservicios">Fotografia de producto</li>
                            <li class="list listservicios">Fotografia de producto</li>
                            <li class="list listservicios">Retoque Digital</li>
                            <li class="list listservicios">Impresión Fotografica de gran formato</li>
                            <li class="list listservicios">Fotografia de identificación</li>
                            <li class="list listservicios">Fotografia  de moda y fashion</li>
                            <li class="list listservicios">Foto Book</li>
                        </ul>
                    </article>
                    <!-- Servicio de videos -->
                    <article class="servicios_videos">
                        <h3 class="sub_subtitle">Videos</h3>
                        <ul class="ulList ulservicios">
                            <li class="list listservicios">Videos Comerciales</li>
                            <li class="list listservicios">Video Social para toda ocacion</li>
                            <li class="list listservicios">Video Clips</li>
                            <li class="list listservicios">Video Corporativo</li>
                            <li class="list listservicios">Video Promocional</li>
                            <li class="list listservicios">Video Para eventos especiales</li>
                            <li class="list listservicios">Produccion multimedia</li>
                            <li class="list listservicios">Proyección Multimedia</li>
                        </ul>
                    </article>
                </article>
            </article>
        </section>
        <!-- Secion de Mision -->
        <section class="mision section top">
            <h2 class="subtitle subtitlemvv">Misión</h2>
            <p class="texto_mvv">Somos una empresa dedicada a ofrecer servicios de fotografía profesional,utilizando altos estándares de calidad en cada uno de nuestros productos y servicios, con el propósito de satisfacer las necesidades de nuestros clientes, ofreciendo un trato personalizado.</p>
        </section>
        <!-- Secion de Vision -->
        <section class="vision section top">
            <h2 class="subtitle subtitlemvv">Visión</h2>
            <p class="texto_mvv">Ser la empresa líder en fotografía profesional, ofrecer amplios servicios y mayor cobertura a nivel nacional, utilizando para ello tecnologías innovadoras y un contacto más directo con nuestros clientes.</p>
        </section>
        <!-- Secion de Valores -->
        <section class="valores section top">
            <h2 class="subtitle subtitlemvv">Valores</h2>
            <div class="container_valores">
                <div class="valor valor1">
                    <p class="texto_mvv texto_valor">Compromiso con cada uno de nuestros clientes de ofrecer siempre el mejor servicio.</p>
                </div>
                <div class="valor valor2">
                    <p class="texto_mvv texto_valor">Eficiencia en la entrega de todos nuestros productos.</p>
                </div>
                <div class="valor valor3">
                    <p class="texto_mvv texto_valor">Respeto y trato profesional a nuestros clientes.</p>
                </div>
                <div class="valor valor4">
                    <p class="texto_mvv texto_valor">Pasión en la realización y servicio de todos los servicios que ofrecemos.</p>
                </div>
                <div class="valor valor5">
                    <p class="texto_mvv texto_valor">Calidad humana por parte de nuestro personal.</p>
                </div>
            </div>
        </section>
    </section>
</main>