<!-- Contenedor Principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Contenedor Secundario -->
    <section class="container">
        <h1 class="title">Sesion de Estudio</h1>
        <!-- Contenedor de Imagenes -->
        <article class="sesion__container">
            <!-- Contenedor Imagen 1 -->
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img img1">
            </section>
            <!-- Contenedor Imagen 2 -->
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img2.jpeg" alt="TheCanePhotographic" class="img img1">
            </section>
            <!-- Contenedor Imagen 3 -->
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img3.jpeg" alt="TheCanePhotographic" class="img img1">
            </section>
        </article>
    </section>
</main>



