/* Principal y General */
.main__container{
    margin-top: 30px;
    display: flex;
}

.title{
    margin: 20px;
    text-align: center;
    font-family: 'Smooch', cursive;
    font-weight: 700;
    font-size: 2.2em;
    color: #6d7993;
}

.sesion__container{
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section{
    width: 45%;
    margin: 20px;
    cursor: pointer;
}

.img{
    width: 100%;
}


/* General Responsive */
@media screen and (max-width: 1045px){
    .section{
        width: 97%;
        border-bottom: solid 2px #6d7993;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 600px){
    .sesion__container{
        width: 97%;
    }

    .section{
        width: 100%;
    }
}