<main class="main__container">
    <!-- <app-barra-redes></app-barra-redes> -->
    <section class="container">
        <h1 class="title">Sesion de Estudio</h1>
        <article class="sesion__container">
            <section class="section">
                <img src="../assets/images/estudio/sesion3/img1.jpeg" alt="TheCanePhotographic" class="img img1">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion3/img2.jpeg" alt="TheCanePhotographic" class="img img1">
            </section>
        </article>
    </section>
</main>

