<!-- Contenedor Principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Contenedor secundario -->
    <section class="container">
        <h1 class="title">SESIONES DE EXTERIOR</h1>
        <!-- Contenedor de Sesiones -->
        <article class="sesiones__container">


            <!-- <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion1/img3.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion2 section">
                <a routerLink="/sesion2_exterior">
                    <img src="../assets/images/exterior/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img img2">
                </a>
            </section>
            <section class="sesion3 section">
                <a routerLink="/sesion3_exterior">
                    <img src="../assets/images/exterior/sesion3/img1.jpeg" alt="TheCanePhotographic" class="img img3">
                </a>
            </section> -->

            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion1/img1.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion1/img2.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion1/img3.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion1/img4.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion1/img5.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
           

            <!-- varios -->
            <section class="section">
                <img src="../assets/images/exterior/varias/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img4.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img5.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img6.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img7.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img8.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img9.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img10.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img11.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img12.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img13.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img14.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img15.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img16.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img17.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img18.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img19.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img20.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img21.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img22.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img23.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img24.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img25.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img26.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img27.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img28.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/varias/img29.jpeg" alt="TheCanePhotographic" class="img">
            </section>

            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion2/img2.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion2/img3.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion2/img4.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion2/img5.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion3/img1.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion3/img2.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion3/img3.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion3/img4.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_exterior">
                    <img src="../assets/images/exterior/sesion3/img5.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
        </article>
    </section> 
</main>