<!-- Contenedor Principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->

    <ng-container *ngIf="!phone">
        <app-barra-redes></app-barra-redes>
      </ng-container>
    
      <ng-container *ngIf="phone">
        <app-barra-redes-phone></app-barra-redes-phone>
      </ng-container>

    <!-- Contenedor Secundario -->
    <section class="container">
        <!-- Texto Principal -->
        <h1 class="title">{{"Sesiones fotograficas" | uppercase}}</h1>
        <!-- Articulo de Sesiones -->
        <article class="sesiones__container">
            <!-- Sesion de Estudio -->
            <section class="sesion1 section">
                <!-- Subtitulo -->
                <h2 class="subtitle">SESIONES DE ESTUDIO</h2>
                <!-- <a routerLink="/sesiones_estudio">
                    <img src="../assets/images/img5 (1).jpeg" alt="Sesion 1" class="img">
                </a> -->
                <picture class="sesion1Img">             
                    <button class="btn-ver in" routerLink="/sesiones_estudio">VER SESIONES</button>
                </picture>
            </section>
            <!-- Sesion de Estudio -->
            <section class="sesion2 section">
                <!-- Subtitulo -->
                <h2 class="subtitle">SESIONES DE EXTERIOR</h2>
        
                <!-- <a routerLink="/sesiones_exterior">
                    <img src="../assets/images/img5 (2).jpeg" alt="Sesion 1" class="img">
                </a> -->
                <picture class="sesion2Img">             
                    <button class="btn-ver in" routerLink="/sesiones_exterior">VER SESIONES</button>
                </picture>
            </section>
            
        </article>
    </section>
</main>

