/* Principal y Genaral */
.main__container{
    display: flex;
    width: 100%;
}

.container{
    margin-top: 30px;
    width: 92%;
}

.title{
    margin: 0px;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: 2.2em;
    color: #000;
}

.subtitle{
    font-family: 'Cormorant SC', serif;
    font-size: 1.4em;
    color: #062f4f;
    margin: 10px;
    text-align: center;
}

/* Contenedor de Sesiones */

.sesiones__container{
    width: 100%;
    display: flex;
}

.section{
    width: 45%;
    margin: 20px;
    cursor: pointer;
}

.picture{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sesion1Img{
    background-image: url(https://res.cloudinary.com/dl4mqz24g/image/upload/v1663609622/photos/inicio/img2_mca3ji.jpg);
}

.sesion2Img{
    background-image: url(https://res.cloudinary.com/dl4mqz24g/image/upload/v1663609945/photos/inicio/img7_cgkdmx.jpg);
}

.img{
    width: 100%;
}

.btn-ver{
    background: transparent;
    width: 50%;
    height: 10%;
    color: #000;
    background-color: #fff;
    font-size: 100%;
    cursor: pointer;
}

.btn-ver:hover{
    background: transparent;
}

/* General Responsive */
@media screen and (max-width: 1045px){
    .container{
        width: 100%;
    }

    .sesiones__container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .section{
        width: 95%;
        border-bottom: solid 2px #6d7993;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {   
    .title{
        font-size: 1.5rem;
    }
}


