<!-- Contenedor Principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Sesion principal -->
    <section class="section_main">
        <!-- Articulo de Introduccion -->
        <article class="article_caneG article">
            <!-- Contenedor de Titulos -->
            <div class="box1_caneG">
                <h1 class="title">{{"Transforma tus ideas en impresionantes historias visuales" | uppercase}}</h1>
                <h2 class="subtitle subtitle_marca left">Toma el control de tu marca</h2>
                <p class="texto_box1_caneG left">Estamos comprometodos con el trabajo, trabajamos para ofrecerle la mejor calidad a nuestros clientes y con los mejores beneficios.</p>
            </div>
            <!-- Contenedor de Imagenes -->
            <div class="box2_caneG">
                <img src="../assets/images/graficos/CaneGraphic.jpeg" alt="CaneGraphic" class="img imgcaneG">
            </div>
        </article>
        <!-- Articulo de Marca Dental -->
        <article class="article_marcaDental article">
            <!-- Texto -->
            <div class="box1_marcaDental">
                <p class="texto_marcaDental left"><span class="texto_resaltado">Cualquier diseñador ha desarrollado su propio proceso creativo:</span> se ha enfrentado con obstáculos que ha superado y ha cosechado éxitos. Aprender de grandes diseñadores gráficos, a través de sus palabras, representa una fuente de sabiduría y, a la vez, de inspiración y por ello aca le dejo mi proceso y trabajo creativo con mis años de experiencia.</p>
            </div>
            <!-- Imagen de Marca Dental -->
            <div class="box2_marcaDental">
                <img src="../assets/images/graficos/marcadental.jpg" alt="CaneGraphic" class="img trav">
            </div>
        </article>
        <!-- Articulo Dental -->
        <article class="article_dental article">
            <!-- Texto -->
            <h2 class="subtitle subtitle_dental left">“La creatividad es la facultad mental o espiritual que nos capacita para dar existencia, aparentemente a partir de nada, a algo que posea belleza, orden o significación”</h2>
            <!-- Imagenes -->
            <div class="box1_dental">
                <div class="box1_1_dental">
                    <img src="../assets/images/graficos/diente1.jpeg" alt="CaneGraphic" class="img dental">
                </div>
                <div class="box2_1_dental">
                    <img src="../assets/images/graficos/diente2.jpeg" alt="CaneGraphic" class="img dental">
                </div>
            </div>
        </article>
        <!-- Articulo de Marca Personal -->
        <article class="article_marca article">
            <!-- Textos -->
            <div class="box1_marca">
                <h3 class="sub_subtitle">Ofrecemos servicios perosnalizados a tus marcas</h3>
                <ul class="ul_box1_marca">
                    <li class="li_box1">Logos personalizados</li>
                    <li class="li_box1">Estilos flexibles</li>
                    <li class="li_box1">Alta calidad de graficos</li>
                    <li class="li_box1">Diferentes fondos y tonalidades</li>
                </ul>
            </div>
            <!-- Imagen -->
            <div class="box2_marca">
                <img src="../assets/images/graficos/Marca.jpeg" alt="CaneGraphic" class="img marca">
            </div>
        </article>
        <!-- Articulo de Flayers -->
        <article class="article_flayers article">
            <h1 class="subtitle_flayers subtitle_modificado">FLYERS</h1>
            <!-- Contenedor de Flayers -->
            <div class="box1_flayers">
                <div class="box1_1_flayers margin">
                    <img src="../assets/images/graficos/Conferencia.jpeg" alt="Flayer" class="flayer img">
                </div>
                <div class="box2_1_flayers margin">
                    <img src="../assets/images/graficos/trenzas.jpeg" alt="Flayer" class="flayer img">
                </div>
                <div class="box3_1_flayers margin">
                    <img src="../assets/images/graficos/Travel.jpeg" alt="Flayer" class="flayer img">
                </div>
            </div>
        </article>
        <!-- Articulo de Publicidad -->
        <article class="article_publicidad article">
            <!-- Texto -->
            <h2 class="subtitle_publicidad subtitle_modificado">PUBLICIDAD</h2>
            <!-- Contenedor de Imagenes -->
            <div class="box1_publicidad">
                <div class="box1_1_publicidad margin">
                    <img src="../assets/images/graficos/tazas.jpeg" alt="CaneGraphic" class="img tazas">
                </div>
                <div class="box2_1_publicidad margin">
                    <img src="../assets/images/graficos/ofertafotos.jpeg" alt="CaneGraphic" class="img ofertafotos">
                </div>
            </div>
            <div class="box2_publicidad">
                <img src="../assets/images/graficos/happyparti.jpeg" alt="CaneGraphic" class="img party">
            </div>
        </article>
        <!-- Articulo de letreros -->
        <article class="article_letreros article">
            <!-- Texto -->
            <h2 class="subtitle_letreros subtitle_modificado">VALLAS</h2>
            <!-- Contenedor de Imagenes -->
            <div class="box1_letreros">
                <div class="letreros1 let">
                    <div class="box1_1_letreros margin">
                        <img src="../assets/images/graficos/thecane.jpeg" alt="CaneGraphic" class="img letreros">
                    </div>
                    <div class="box2_1_letreros margin">
                        <img src="../assets/images/graficos/TheCanePhotographicLogo.jpeg" alt="CaneGraphic" class="img letreros">
                    </div>
                </div>
                <div class="letreros2 let">
                    <div class="box3_1_letreros margin">
                        <img src="../assets/images/graficos/taly.jpeg" alt="CaneGraphic" class="img letreros">
                    </div>
                    <div class="box4_1_letreros margin">
                        <img src="../assets/images/graficos/CaneLogo.jpeg" alt="CaneGraphic" class="img letreros">
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>

