/* General y Principal */

/* Nav Bar */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navBar {
  display: flex;
  background-color: #fff;
  width: 100%;
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

.logoLink {
  display: block;
}

.iLogo {
  display: block;
  width: 180px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  margin: 0px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.listMenu {
  padding: 20px;
  display: inline-block;
}

.listLink {
  display: block;
  color: #6d7993;
  text-decoration: none;
  font-size: 1.2em;
}

.listLink:hover {
  color: #9099a2;
}

.config{
  color: #6d7993;
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.config:hover{
  color: #9099a2;
}

.iconConfig{
  font-size: 20px;
}

/* Nav Bar */

@media screen and (max-width: 810px) {
  .listMenu{
    padding: 15px;
  }
}

@media screen and (max-width: 740px) {
  .listMenu{
    padding: 12px;
  }

  .listLink{
    font-size: 1rem;
  }
}

/* Nav Bar Phone */
@media screen and (max-width: 674px){
  .navBar{
    align-items: center;
    justify-content: space-between;
  }

  .menuContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.navPhone{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuPhone{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btnBarra{
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.margin_computer{
  margin-right: 20px;
}

.btnM{
  width: 40px;
  height: 40px;
}

.navBarPhone{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.center{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: solid 2px #6d7993;
}

/*Footer*/
.footer__container{
  width: 100%;
  margin-top: 50px;
  padding: 30px;
  background-color: #1a1b2f;
  color: #fff;
}

.nombre_empresa{
  margin-top: 20px;
  font-family: 'Cormorant SC', serif;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.ubicacion_descripcion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.width{
  width: 330px;
}

.textoDescripcion{
  font-size: 1.2em;
  color:#6d7993;
  text-align: center;
}

.textoUbicacion{
  margin-bottom: 10px;
  font-size: 1em;
  color:#6d7993; 
}

.spanUbicacion{
  color: #fff;
}

.textoDerechos{
  color: #6d7993;
  font-weight: 700;
  font-size: 1em;
}

.iCaneLogo{
  width: 150px;
}

.margenTexto{
  margin: 30px;
}

.link{
  text-decoration: none;
}

/* Responsive Footer */
@media screen and (max-width: 560px){
  .textoDescripcion{
    text-align: left;
  }
}

@media screen and (max-width: 509px){
  .width{
    width: 100%;
  }

  .textoDescripcion, .textoUbicacion, .textoDerechos{
    text-align: center;
  }
}

@media screen and (max-width: 420px){
  .nombre_empresa{
      font-size: 1.7em;
  }
}

/* Extra barras*/
.flex{
  display: flex;
}

@media screen and (max-width: 600px){
  .flex{
    display: block;
  }
}
