<main class="main">
  <app-spinner *ngIf="isLoading"></app-spinner>

  <app-message-error *ngIf="msg" [message]="msg"></app-message-error>
  
    <div class="form_container">
        <h1 class="title">ADMINISTRACION</h1>
        <form action="" class="form">
            <i class="fa-solid fa-gears icon"></i>
            <input type="email" class="input" name="email" placeholder="Email" [(ngModel)]="user.email" (click)="isError = false && msg = ''">
            <p *ngIf="errors && errors.email && isError" class="text_danger">* {{errors.email}}</p>
            <input type="password" class="input" name="password" placeholder="Contraseña" [(ngModel)]="user.password" (click)="isError = false && msg = ''">
            <p *ngIf="errors && errors.password && isError" class="text_danger">* {{errors.password}}</p>
            <input type="button" value="Ingresar" class="input btn" (click)="login()">
        </form>
    </div>
</main>

