/* General y principal */
.main__container{
    display: flex;
    margin-top: 30px;
}

/* Contenedor del Formulario */

.form_container{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 20px;
    text-align: center;
    font-family: 'Smooch', cursive;
    font-weight: 700;
    font-size: 2.2em;
    color: #6d7993;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    color: #373737;
    margin: 10px;
}

/* Formulario */

.form{
    display: flex;
    box-shadow: 0px 0px 5px #000;
    padding: 20px;
}

/*Contenedor de datos  */

.datos{
    height: 230px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input{
    width: 90%;
    height: 35px;
    border: none;
    border-bottom: solid 1px #000;
    outline: none;
}

.btn{
    width: 90%;
    height: 40px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #45eba5;
}

/* Contenedor de comentario */

.comentario{
    height: 230px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 20px;
    resize: none;
}

/* Responsive General */


@media screen and (max-width: 1050px){
   .form_container{
    margin-left: 0;
   }
   
 }

 @media screen and (max-width: 935px){

    .form_container{
        width: 100%;
    }

    .form{
        margin: auto;
    }

    .datos{
        width: 100%;
    }

    .comentario{
        width: 100%;
    }
  }

  @media screen and (max-width: 535px){
    .form_container{
        margin-left: 0 20px;
    }

    .form{
        align-items: center;
        flex-direction: column;
    }

    .datos{
        width: 96%;
    }

    .comentario{
        width: 96%;
    }

  }


