<div class="container_main">
    <div class="container">
        <h1 class="title">BANDEJA DE ENTRADA <i class="fa-solid fa-message icon_msg"></i> </h1>
        <div class="modal" *ngIf="needConfirmation">
            <p class="text_modal">¿Realmente desea eliminar este mensaje?</p>
            <div class="action_modal">
                <button class="btn_modal cancel" (click)="needConfirmation = false">Cancelar</button>
                <button class="btn_modal confirm" (click)="deleteMessage()">Confirmar</button>
            </div>
        </div>
        <div class="messages_container" *ngIf="messages">
            <div class="messages">
                <div class="message" *ngFor="let message of messages">
                    <div class="info_msg">
                        <p class="text name">{{message.name}} <i class="fa-solid fa-user"></i></p>
                        <p class="text email">{{message.email}} <i class="fa-solid fa-envelope"></i></p>
                        <p class="text date">{{message.created_at | date }} {{message.created_at | date:'- hh:mm' }}</p>
                    </div>
                    <div class="actions">
                        <button class="btn_action" [routerLink]="['/message', message.id]"><i class="fa-solid fa-ellipsis icon_action"></i></button>
                        <button class="btn_action" (click)="setConfirmation(message.id)"><i class="fa-solid fa-trash icon_action"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
