.container_main{
    display: flex;
    width: 100%;
}

.title{
    margin: 20px 0;
    font-family: 'Cormorant SC', serif;
    font-weight: 700;
    font-size: 2.2em;
    color: #000;
    text-align: center;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages_container, .read{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_messenger_container{
    display: flex;
    align-items: center;
}

.text_messenger{
    font-family: 'Cormorant SC', serif;
    font-size: 1.8em;
    color: #062f4f;
    margin: 10px;
    text-align: center;
}

.icon_msg{
    font-size: 50px;
}

.counter{
    font-size: 1.1rem;
    color: #7B241C;
    font-weight: bold;
    display: block;
}

.messages{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.message{
    width: 40%;
    height: 110px;
    background-color: #2C3E50;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.info_msg{
    overflow-wrap: break-word;
    width: 90%;
}

.text{
    margin: 10px 0;
}

.actions{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.btn_action{
    border: none;
    background-color: #2C3E50;
    cursor: pointer;
}

.icon_action{
    font-size: 30px;
    color: #fff;
}

.modalConfirm{
    width: 40vw;
    height: 20vh;
    left: 30vw;
    top: 40vh;
    min-height: 150px;
    background-color: #021120;
    position: fixed;
    color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text_modal{
    margin: 10px;
}

.email{
    font-style: italic;
}

.action_modal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn_modal{
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    width: 80px;
    height: 45px;
}

.cancel{
    background-color: #85929E;
}

.confirm{
    background-color: #7B241C;
}

@media screen and (max-width:850px) {
    .messages{
        flex-direction: column;
        align-items: center;
    }

    .message{
        width: 70%;
    }

    .modalConfirm{
        width: 55%;
        left: 22.5%;
    }
}

@media screen and (max-width:600px) {
    .message{
        width: 95%;
    }
}

@media screen and (max-width:450px) {
    .message{
        font-size: 0.9rem;
    }

    .title{
        font-size: 1.5rem;
    }

    .icon_msg{
        font-size: 30px;
    }

    .icon_action{
        font-size: 20px;
    }

    .modalConfirm{
        width: 85vw;
        left: 7.5vw;
    }
}

@media screen and (max-width:300px) {
    .message{
        font-size: 0.8rem;
    }

    .title{
        font-size: 1.4rem;
    }

    .icon_msg{
        font-size: 25px;
    }
}