<main class="main__container">
    <!-- <app-barra-redes></app-barra-redes> -->
    <section class="container">
        <h1 class="title">Sesion de Exterior</h1>
        <article class="sesion__container">
            <section class="section">
                <img src="../assets/images/exterior/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img img1">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/sesion2/img2.jpeg" alt="TheCanePhotographic" class="img img2">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/sesion2/img3.jpeg" alt="TheCanePhotographic" class="img img3">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/sesion2/img4.jpeg" alt="TheCanePhotographic" class="img img4">
            </section>
            <section class="section">
                <img src="../assets/images/exterior/sesion2/img5.jpeg" alt="TheCanePhotographic" class="img img5">
            </section>
        </article>
    </section>
</main>
