<!-- Contenedor principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Contenedor secundario -->
    <section class="container">
        <h1 class="title">SESIONES DE ESTUDIO</h1>
        <!-- Contenedor de Sesiones -->
        <article class="sesiones__container">
            <section class="section">
                <img src="../assets/images/estudio/varias/img9.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img10.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img11.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img12.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img13.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img14.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img15.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img16.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img17.jpeg" alt="TheCanePhotographic" class="img">
            </section>


            <section class="section">
                <img src="../assets/images/estudio/sesion6/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion6/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion1/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion1/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion1/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion3/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion3/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img4.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion5/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion5/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion5/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>

            <!-- Varias -->
            <section class="section">
                <img src="../assets/images/estudio/varias/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img4.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img5.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img6.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img7.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img8.jpeg" alt="TheCanePhotographic" class="img">
            </section>
        </article>
    </section> 
</main>