<!-- Contenedor principal -->
<main class="main__container">
    <!-- Componente Barra de Redes
    <app-barra-redes></app-barra-redes> -->
    <!-- Contenedor secundario -->
    <section class="container">
        <h1 class="title">SESIONES DE ESTUDIO</h1>
        <!-- Contenedor de Sesiones -->
        <article class="sesiones__container">
            <!-- Contenedor de vinculo Sesion 6 -->
            <!-- <section class="sesion6 section">
                <a routerLink="/sesion6_estudio">
                    <img src="../assets/images/estudio/sesion6/img2.jpeg" alt="TheCanePhotographic" class="img img2">
                </a>
            </section>
            <section class="sesion1 section">
                <a routerLink="/sesion1_estudio">
                    <img src="../assets/images/estudio/sesion1/img3.jpeg" alt="TheCanePhotographic" class="img img1">
                </a>
            </section>
            <section class="sesion2 section">
                <a routerLink="/sesion2_estudio">
                    <img src="../assets/images/estudio/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img img2">
                </a>
            </section>
            <section class="sesion4 section">
                <a routerLink="/sesion4_estudio">
                    <img src="../assets/images/estudio/sesion4/img1.jpeg" alt="TheCanePhotographic" class="img img4">
                </a>
            </section>
            <section class="sesion5 section">
                <a routerLink="/sesion5_estudio">
                    <img src="..\assets\images\estudio\sesion5\img1.jpeg" alt="TheCanePhotographic" class="img img5">
                </a>
            </section>
            <section class="sesion3 section">
                <a routerLink="/sesion3_estudio">
                    <img src="../assets/images/estudio/sesion3/img1.jpeg" alt="TheCanePhotographic" class="img img3">
                </a>
            </section> -->

            <section class="section">
                    <img src="../assets/images/estudio/sesion6/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion6/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion1/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion1/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion1/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion2/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion3/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion3/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion4/img4.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion5/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion5/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/sesion5/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>

            <!-- Varias -->
            <section class="section">
                <img src="../assets/images/estudio/varias/img1.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img2.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img3.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img4.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img5.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img6.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img7.jpeg" alt="TheCanePhotographic" class="img">
            </section>
            <section class="section">
                <img src="../assets/images/estudio/varias/img8.jpeg" alt="TheCanePhotographic" class="img">
            </section>
    
        </article>
    </section> 
</main>