<!-- Contenedor principal -->
<main class="main__container">
    <app-spinner *ngIf="!photos"></app-spinner>

    <ng-container *ngIf="!phone">
        <app-barra-redes></app-barra-redes>
      </ng-container>
    
      <ng-container *ngIf="phone">
        <app-barra-redes-phone></app-barra-redes-phone>
      </ng-container>

    <!-- Contenedor secundario -->
    <section class="container">
        <h1 class="title">SESIONES DE ESTUDIO</h1>
        <button class="btn_new" [routerLink]="['/new-photo', 'estudio']" *ngIf="isLogged"><i class="fa-solid fa-plus icon_new"></i></button>
        <!-- Contenedor de Sesiones -->
        <article class="sesiones__container" *ngIf="photos">
            <section class="section" [ngClass]="isLogged? 'section_edit' : 'section'" *ngFor="let photo of photos">
                <img src="{{photo.photo}}" alt="TheCanePhotography" class="img">
                <div class="action" *ngIf="isLogged && !needConfirmation">
                    <button class="btn" [routerLink]="['/edit-photo', photo.id]"><i class="fa-solid fa-pen-to-square icon"></i></button>
                    <button class="btn" (click)="setConfirmation()"><i class="fa-solid fa-trash-can icon"></i></button>
                </div>
                <div class="action confirmation" *ngIf="needConfirmation">
                    <button class="btn cancel" (click)="setConfirmation()">Cancelar</button>
                    <button class="btn confirm" (click)="deletePhoto(photo.id)">Eliminar</button>
                </div>
            </section>
        </article>
    </section> 
</main>