<h1 class="title">EDITA UNA FOTO</h1>

<div class="form_container">
    <form action="" class="form" enctype="multipart/form-data">
        <div class="contenedor-btn-file" (click)="open()">
             <img *ngIf="!photoForPreview && photo" src="{{photo.photo}}" alt="" class="img_preview">
             <img *ngIf="photoForPreview" src="{{photoForPreview}}" alt="" class="img_preview">
            <input type="file" id="photo" name="photo" class="input_file" (change)="file($event)" accept=".jpg, .png, jpge">
        </div>
        <input type="button" class="btn" value="Actualizar" (click)="updatePhoto()">
    </form>
</div>

